body{
    background-color:#FCEDDA;
}

.profilePic{
    transform: scale(1.5);
    width: 100%;
    position: absolute;
    left: 0;
}

.theBox{

    text-align: center;
    border-style: solid;
    border-radius: 10px;
    max-width: 30%;
    margin: 0 auto;
}

.space{
    padding-top: 30px;
    padding-bottom: 30px;
    margin: 0 auto;
}

.spaced{
    padding-bottom: 30px;
    margin: 0 auto;
}

.round{
    border-radius:10px
}